.homeProducts {
    padding: 25px 0;
    width: 100%;
}

.homeProducts .col-md-3 {
    flex: 0 0 22%;
    max-width: 22%;
}

.homeProducts .col-md-9 {
    flex: 0 0 78%;
    max-width: 78%;
}

.homeProducts .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 85px;
    z-index: 100;
}

.homeProducts .banner {
    border-radius: 7px;
    overflow: hidden;
    width: 100%;
}

.homeProducts .info {
    width: 35%;
}

.viewAllBtn {
    background: #fff;
    border: 1px solid #0000001a !important;
    border-radius: 30px !important;
    color: #414141 !important;
    font-weight: 600;
    padding: 5px 15px !important;
    text-transform: capitalize !important;
}

.viewAllBtn svg {
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 20px;
}