.homeBannerSection .swiper {
    list-style: none;
    padding-right: 2px !important;
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}

.homeBannerSection .swiper-horizontal {
    touch-action: pan-y;
}

.homeBannerSection .swiper-backface-hidden .swiper-slide {
    backface-visibility: hidden;
    transform: translateZ(0);

}

.homeBannerSection .swiper-wrapper {
    box-sizing: initial;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    width: 100%;
    z-index: 1;

}

.homeBannerSection .swiper-slide {
    display: block;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;

}

.homeBannerSection .swiper-slide.swiper-slide-next {
    left: 16%;
    opacity: 0.6;
}

.homeBannerSection .swiper-slide.swiper-slide-prev {
    right: 16%;
    opacity: 0.6;
}


.homeBannerSection .swiper-pagination {
    opacity: 0;
}

.homeBannerSection .swiper-button-prev {
    right: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(0px - var(--swiper-navigation-size) / 2);
    position: absolute;
    left: 3% !important;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
    font-family: FontAwesome !important;
    font-weight: 700;
    height: 45px !important;
    width: 45px !important;
}

.homeBannerSection .swiper-button-prev::after {
    content: "prev";
    font-family: swiper-icons;
    font-variant: normal;
    letter-spacing: 0;
    line-height: 1;
    text-transform: none !important;
    color: #000 !important;
    font-size: 17px !important;
    opacity: 0.8;
}

.homeBannerSection .swiper-button-prev:hover {
    background: #e7e7e7 !important;
}

.homeBannerSection .swiper-button-next {
    left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(0px - var(--swiper-navigation-size) / 2);
    position: absolute;
    right: -12% !important;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
    font-family: FontAwesome !important;
    font-weight: 700;
    height: 45px !important;
    width: 45px !important;
}

.homeBannerSection .swiper-button-next::after {
    content: "next";
    font-family: swiper-icons;
    font-variant: normal;
    letter-spacing: 0;
    line-height: 1;
    text-transform: none !important;
    color: #000 !important;
    font-size: 17px !important;
    opacity: 0.8;
}

.homeBannerSection .swiper-button-next:hover {
    background: #e7e7e7 !important;
}

.homeBannerSection {
    cursor: pointer;
    min-height: 300px;
    position: relative;
}

.homeBannerSection * {
    outline: none !important;
}

.homeBannerSection .swiper {
    overflow: inherit !important;
}

.homeBannerSection .swiper .item {
    border-radius: 10px;
    overflow: hidden;
}

.homeBannerSection .swiper img {
    border-radius: 10px !important;
}